
h1 {
  text-align: center;
}

#chatbox {
  display: flex;
  flex-direction: column-reverse;
  height: 90px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  overflow: auto;
}

#chat-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}